<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>¡Crea tú cuenta!</h1>
      <p>Inicia tu formacíon aquí</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo eléctronico</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" (click)="signup()">Registrarse</ion-button>
      <ion-button
        class="signup-button"
        size="large"
        fill="outline"
        routerLink="/login"
        >Iniciar sesión</ion-button
      >
    </div>
  </div>
</ion-content>